priority -50

snippet c "console.log" b
console.log(${1:"${2:value}"});
endsnippet

snippet d "A JSDoc comment" b
/**
 * ${1:${VISUAL}}$0
 */
endsnippet

snippet t "@type {Type} varname Description"
@type {${1:Type}} ${2:varname} ${3:Description}
endsnippet

snippet p "@param {Type} varname Description"
@param {${1:Type}} ${2:varname} ${3:Description}
endsnippet

snippet r "@return {Type} Description"
@return {${1:Type}} ${2:Description}
endsnippet

# vim:ft=snippets:

